@model WebApp.Areas.ViewModels.ExerciseCreateViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exercise</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Exercise.Name" class="control-label"></label>
                <input asp-for="Exercise.Name" class="form-control" />
                <span asp-validation-for="Exercise.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Desc" class="control-label"></label>
                <input asp-for="Exercise.Desc" class="form-control" />
                <span asp-validation-for="Exercise.Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.Date" class="control-label"></label>
                <input asp-for="Exercise.Date" type="datetime-local" class="form-control" value="@(Model.Exercise.Date.ToString("yyyy-MM-ddTHH:mm"))" />
                <span asp-validation-for="Exercise.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.ExerTargetId" class="control-label"></label>
                <select asp-for="Exercise.ExerTargetId" class ="form-control" asp-items="Model.ExerTargets"></select>
            </div>
            <div class="form-group">
                <label asp-for="Exercise.ExerGuideId" class="control-label"></label>
                <select asp-for="Exercise.ExerGuideId" class ="form-control" asp-items="Model.ExerGuides"></select>
            </div>
            <input type="hidden" asp-for="Exercise.CreatedBy" value="admin"/>
            <div class="form-group">
                <label asp-for="Exercise.ExerciseCategoryId" class="control-label"></label>
                <select asp-for="Exercise.ExerciseCategoryId" class ="form-control" asp-items="Model.ExerciseCategories"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
